.search-field {
    border: 0.1rem solid #ced4da;
    border-radius: 0.25rem;
    margin-left: $s-size;
    padding: 0.6rem;
}

.sort-dropdown {
    background-color: $header;
    border: none;
    margin-left: $s-size;
    padding: 0.7rem;
}