.paginators, .refresh {
    background-color: $header;
    border: none;
    margin-left: $s-size;
    padding: 0.7rem;
    width: 5.6rem;
}

.page-display {
    display: inline;
    border: 0.1rem solid #ced4da;
    margin-right: 1rem;
    padding: 0.72rem;
}

.header {
    padding: 0.75rem;
}

